/* src/components/ProductList.css */

.product {
margin: 10px auto;   
}

.ion-button-add {
    margin-top: 50px;
   width: 30%;
   align-self: center;
}

@media (max-width: 800px) {
   
    .ion-button-add {
      width: 80%;
      
    }
  }

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  